/* ONW TSA */
/* Anna Leuszler 7th hour Unit D */

@font-face	{
			font-family: 'CuprumFFURegular';
			src: url('Cuprum-webfont.eot');
			src: local('☺'), url('Cuprum-webfont.woff') format('woff'), url('Cuprum-webfont.ttf') format('truetype'), url('Cuprum-webfont.svg#webfontKLktnWy4') format('svg');
			font-weight: normal;
			font-style: normal;
			}


h1, h2 	{
		text-align: center;
		font-family: CuprumFFURegular, georgia, "times new roman", times, serif;
		}
  
h1 	{
	margin: 0;
	font-size: 2em;
	background: white);
	color: white;
	}
h2	{
	font-size: 1.5em;
	}
	
#box	{
		border: 0.25em dashed;
		width: 40em;
		padding: 1em;
		margin-left: auto; 
		margin-right: auto;
		font-family: tahoma,arial,helvetica, sans-serif;
		background: rgb(153, 179, 240);
		}
#buugi	{
	font-weight: bold;
		}
		
#contact {
		text-align: center;
		padding: 0.5em;
		width: 12.5em;
		margin-left: auto;
		margin-bottom: 0;
		background: rgb(158, 26, 52);
		}
#ic		{
		font-style: italic;
		}
#name	{
		color: #F2889C;
		}